#page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#todo-list {
width: 80%;
}

.todo-item {
	display: flex;
	gap: 0.6rem;
	margin-bottom: 0.625rem;
}

.todo-item span {
	flex-grow: 1;
}

.todo-item button {
	background-color: red;
	color: white;
	border: none;
	cursor: pointer;
}

.todo-item button:hover {
	background-color: darkred;
}

.todo-form {
	display: flex;
	gap: 1rem;
}
